<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <title>Document</title>
</head>

<body>
    <div class="lianxi">v-for遍历对象的做法：用到value/name/index
        <div v-for="(value,name,index) in object" style="color:red;">
            {{index}}-{{name}}-{{value}}
        </div>
        
        <div>v-for遍历数组的做法：用到item/index</div>
        <div v-for="(item,index) in items">
                {{index}}-{{item.message}}
            </div>
    </div>

    <script>
        new Vue({
            el: ".lianxi",
            data() {
                return {
                    object: {
                        shuiguo: "apple",
                        xihao: "play",
                        shangchang: "html"
                    },
                    items: [
                        { message: 'css' },
                        { message: 'html' }
                    ]
                }
            }
        })


    </script>
</body>

</html>