<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <title>Document</title>
</head>

<body>
    <form id="example">
        <span>单选框</span><br>
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{checked}}</label>
        <br><br>

        <span>多选框</span><br>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="milk" value="milk" v-model="checkedNames">
        <label for="milk">milk</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
        <br><br>

        <span>单选按钮</span><br>
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
        <br><br>

        <span>选择框</span><br>
        <select v-model="selected">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>


    </form>
    <script>
        new Vue({
            el: '#example',
            data() {
                return {
                    checked: false,
                    checkedNames: [],
                    picked: '',
                    selected:''
                }
            }

        })
    </script>




</body>

</html>